*{
    text-decoration: none;
}
body{
    margin: 0;
}
header{
    background-color: fff;
    width: 100%;
    height: 100%;
}
.header-brand{
    font-family:'Akronim';
    font-size: 24px;
    font-weight: bolder;
    color:#111;
    display: block;
    margin: 0 auto;
    padding: 20px 0 5px 0;
    text-align: center;
}
.header-brand span{
    color: aqua;
}
header nav ul{
    margin:0 auto;
}
header nav ul li{
    display: inline-block;   
    list-style: none;
    padding: 0 14px;
    background-color: #111;
    border-radius: 10px;
}
header nav ul li a{
    font-family: 'Catamaran', sans-serif;
    font-size: 16px;
    color:#fff;
    font-weight: bold;
}
.header-cases{
    display: none;
}
@media only screen and (min-width: 1000px){
    .header-brand{
        margin:25px 0 ;
        padding: 0px 20px 0px 40px;
        text-align: left;
        border-right: 3px solid aqua ;
        float:left;
        line-height: 50px;
    }

    header nav ul{
        margin:20px 0 0 5px ;
        float: left;
    }
    header nav ul li a{
        line-height: 60px;

    }
    .header-cases{
        display: block;
        font-family: 'Catamaran', sans-serif;
        font-size: 16px;
        color:white;
        background-color: #111;
        font-weight: bold;
        line-height: 60px;
        border:1px solid aqua;
        float:right;
        margin: 20px 0px;
        padding: 0px 20px 0px 20px; 
        border-radius: 10px;
        text-align: center;
    }
}
/*header*/
.index-banner{
    width:100%;
    height: calc(100vh - 100px);
    background-image: url(https://media-exp1.licdn.com/dms/image/C4D03AQFZRIrCOtw76g/profile-displayphoto-shrink_200_200/0/1571148170067?e=1639008000&v=beta&t=GgbvE2O7ZdbS_0gu4mW9ZdbBm6UoJOcbawqhm8jDL2k);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    display: table;
}
vertical-center{
    display: table-cell;
    vertical-align:middle;
}
.index-banner h2{
    font-size: 40px;
    color: white;
    text-align: center;
    font-family: 'Catamaran';
    padding-top: 5px;
    text-shadow: 2px 2px 8px #111;
    line-height: 50px;
}
.index-banner h1{
    font-size: 25px;
    color: white;
    text-align: center;
    padding-top: 5px;
    text-shadow: 2px 2px 8px #111;
    font-family: 'Cormorant Garamond';
    font-style: italic;
    line-height: 40px;
}
.index-links div{
    margin: 12px 12px 0;
    width: calc(100%-24px);
    height: 100%;
    background-color: #f2f2f2;
    padding: 12px;
}
.index-links div h3{
    font-size: 25px;
    color:#111;
    text-align: center;
    font-family: 'Catamaran';
    padding-top: 5px;
    font-style: italic;
    line-height: 40px;
}

/* footer */
footer{
    width: calc(100% - 80px);
    padding: 40px 40px;
    background-color: #111;
    margin-top: 20px;
    overflow: hidden;
}
footer ul{
    width: fit-content;
    float: left;
    padding-left: 20px;
}
footer ul li{
    display:block;
    list-style: none;
    color:#fff;
}
footer ul li a{
    font-family: 'Catamaran', sans-serif;
    font-size: 16px;
    color:#fff;
    line-height: 30px;
}
.footer-links-cases{
    display: none;
}
.footer-sm{
    float: right;
}