*{
    text-decoration: none;
}
body{
    margin: 0;
    background-color: #f3f3f3;
}
header{
    background-color: fff;
    width: 100%;
    height: 100%;
}
.header-brand{
    font-family: 'Catamaran', sans-serif;
    font-size: 24px;
    font-weight: 500;
    color:#111;
    display: block;
    margin: 0 auto;
    padding: 20px 0 5px 0;
    text-align: center;
}
header nav ul{
    margin:0 auto;
}
header nav ul li{
    display: inline-block;   
    list-style: none;
    padding: 0 14px;
}
header nav ul li a{
    font-family: 'Catamaran', sans-serif;
    font-size: 16;
    color:#111;
}
.header-cases{
    display: none;
}

.index-banner{
    width:100%;
    height: calc(100vh - 100px);
    background-image: url(https://media-exp1.licdn.com/dms/image/C4D03AQFZRIrCOtw76g/profile-displayphoto-shrink_200_200/0/1571148170067?e=1639008000&v=beta&t=GgbvE2O7ZdbS_0gu4mW9ZdbBm6UoJOcbawqhm8jDL2k);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}
.index-banner h2{
    font-size: 40px;
    color: white;
    text-align: center;
    font-family: 'Catamaran';
    padding-top: 5px;
    text-shadow: 2px 2px 8px #111;
}
.index-banner h1{
    font-size: 25px;
    color: white;
    text-align: center;
    font-family: 'Catamaran';
    padding-top: 5px;
    text-shadow: 2px 2px 8px #111;
    font-family: 'Cormorant Garamond';
    font-style: italic;
    line-height: 40px;
}